ED25519_PRIVATE=-----BEGIN OPENSSH PRIVATE KEY-----\nABC\nABC\nABC\nABC\nABC\n-----END OPENSSH PRIVATE KEY-----
ED25519_PUBLIC=ssh-ed25519 ABC abc@dicecamp.com
CODER_PASSWORD=example
GIT_HOSTNAME=bitbucket.org
GIT_USERNAME=example
GIT_EMAIL=example@abc.com
